@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin animation($animate) {
	animation: $animate;
	-webkit-animation: $animate;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

body {
	margin: 0;
}

.container {
	width: 10em;
	height: 10em;
	background-color: rgba(0, 0, 255, 1);
	display: inline-block;
	position: relative;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	line-height: 5.5em;
	&:hover {
		background-color: rgba(0, 0, 255, .5);
	}
}
.ng-modal {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.ng-modal-overlay {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.5);
	@include animation(fadeoverlay .5s);
}
@include keyframes(fadeoverlay){
	from {background-color: rgba(0,0,0,0);}
	to {background-color: rgba(0,0,0,.5);}
}
.ng-modal-close {
	border-radius: 100px;
	position: relative;
	left: 98%;
	top: -10px;
	width: 25px;
	height: 25px;
	background-color: blue;
	@include transition(all .5s ease-out);
	&:hover {
		@include transition(all .5s ease);
		background-color: red;
		transition-timing-function: linear;
	}
	&:hover .forward-slash {
		@include transition(all .5s ease);
		background-color: black;
		@include transform(rotate(-45deg));
	}
	&:hover .backward-slash {
		@include transition(all .5s ease);
		background-color: black;
		@include transform(rotate(45deg));
	}
}

.ng-modal-dialog {
  position: absolute;
  margin-top: 20%;
  padding: 5px;
  width: 45%;
  height: 10em;
  left: 28%;
  background-color: #fff;
  border-radius: 5px;
  @include box-shadow(4px 4px 80px #000);
}

.title {
	text-align: center;
}
.dialog {
	text-align: center;
}

.carosel {
	height: 20em;
	width: 45%;
	left: 28%;
	position: absolute;
	// background-color: purple;
	perspective: 10px;
	-webkit-perspective: 500px;
}
.middle {
	position: absolute;
	top: 50px;
	left: 15%;
	height: 40%;
	width: 60%;
	background-color: red;
	border: 5px solid black;
	@include box-shadow(4px 4px 80px #000);
}
.left {
	@extend .middle;
	top: 60px;
	height: 35%;
	left: -115%;
	background-color: white;
	@include box-shadow(4px 4px 80px #000);
	@include transform(rotateY(-30deg));
}
.right {
	@extend .left;
	left: 149%;
	position: absolute;
	background-color: white;
	@include box-shadow(4px 4px 80px #000);
	@include transform(rotateY(30deg));
}
//Create Left Arrow
//div that surrounds arrow
.left-arrow {
	position: absolute;
	top: 70px;
	left: -40%;
	height: 100px;
	width: 40%;
	background-color: rgba(255, 0, 0, .5);
	border-radius: 100px;
	@include box-shadow(4px 4px 80px #000);
	&:hover .left-arrow-middle {
		@include transition(all .5s ease);
		@include animation(enlarge-middle 1s linear infinite);
	}
	&:hover .left-arrow-bottom{
		@include animation(enlarge-bottom 1s linear infinite);
	}
	&:hover .left-arrow-top {
		@include animation(enlarge-top 1s linear infinite);
	}
}
@include keyframes(enlarge-middle) {
	0% {height: 10px}
	100% {height: 15px; top: 48px;}
}
@include keyframes(enlarge-bottom) {
	0% {height: 10px}
	100% {height: 15px; top: 70px; width: 58px;}
}
@include keyframes(enlarge-top){
	0% {height: 10px}
	100% {height: 15px; top: 25px; width:58px;}
}

.left-arrow-middle {
	position: absolute;
	top: 50px;
	left: 20%;
	height: 10px;
	width: 70%;
	border-radius: 5px;
	background-color: black;
}
.left-arrow-bottom {
	@extend .left-arrow-middle;
	top: 65px;
	left: 16%;
	width: 45px;
	@include transform(rotate(45deg));
}
.left-arrow-top {
	@extend .left-arrow-bottom;
	top: 35px;
	@include transform(rotate(-45deg));	
}

//Create right arrow
.right-arrow {
	position: absolute;
	top: 70px;
	left: 94%;
	height: 100px;
	width: 40%;
	background-color: rgba(255, 0, 0, .5);
	border-radius: 100px;
	@include box-shadow(4px 4px 80px #000);
	&:hover .right-arrow-middle {
		@include transition(all .5s ease);
		@include animation(enlarge-middle 1s linear infinite);
	}
	&:hover .right-arrow-bottom{
		@include animation(enlarge-bottom-right 1s linear infinite);
	}
	&:hover .right-arrow-top {
		@include animation(enlarge-top-right 1s linear infinite);
	}
}
@include keyframes(enlarge-bottom-right) {
	0% {height: 10px}
	100% {height: 15px; top: 60px; width: 58px;left: 42%}
}
@include keyframes(enlarge-top-right){
	0% {height: 10px}
	100% {height: 15px; top: 30px; width:58px; left: 42%}
}
.right-arrow-middle {
	position: absolute;
	top: 50px;
	left: 15%;
	height: 10px;
	width: 70%;
	border-radius: 5px;
	background-color: black;
}
.right-arrow-bottom {
	@extend .right-arrow-middle;
	top: 65px;
	left: 46%;
	width: 45px;
	@include transform(rotate(-45deg));
}
.right-arrow-top {
	@extend .right-arrow-bottom;
	top: 35px;
	@include transform(rotate(45deg));
}




//Create X for closing modal
.forward-slash {
	width: 2px;
	height: 20px;
	background-color: blue;
	position: absolute;
	top: 2px;
	left: 12px;
	@include transition(all .5s ease-out);
}
.backward-slash {
	@extend .forward-slash;
}
