<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body ng-app="myApp" ng-controller="MyController">
	<div class="container" ng-repeat="dialog in dialogContexts" ng-click="toggleModal(dialog)">{{dialog.title}}</div>
	<dialog show='modalShown'>
		<div>
		<div>{{selected.title}}</div>
		<p>{{selected.field}}</p>
		</div>
	</dialog>
</body>
</html>