<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body ng-app="myApp" ng-controller="MyController">
	<div class="container" ng-repeat="dialog in dialogContexts" ng-click="toggleModal($index)">{{dialog.title}}</div>
	<dialog shown='modalShown'>
		<div ng-model="dialogContexts">
		<div class="title">{{dialogContexts[selected].title}}</div>
		<p class="dialog">{{dialogContexts[selected].field}}</p>
		<p class="dialog">Update dialog field:
			<input ng-model="dialogContexts[selected].field" type="text"></input>
		</p>
		</div>
	<dialog-shelf shown='modalShown'>
		<!-- <div class="container" ng-repeat="dialog in dialogContexts" ng-click="clickDialog($index)">{{dialog.title}}</div> -->
		<div class="carosel">
			<div class="left">{{dialogContexts[selected-1].title}}</div>
			<div class="left-arrow" ng-click="moveLeft(selected)">
				<div class="left-arrow-middle"></div>
				<div class="left-arrow-bottom"></div>
				<div class="left-arrow-top"></div>
			</div>
			<div class="middle" ng-model="selected">{{dialogContexts[selected].title}}</div>
			<div class="right-arrow" ng-click="moveRight(selected)"></div>
				<div class="left-arrow-middle"></div>
				<div class="left-arrow-bottom"></div>
				<div class="left-arrow-top"></div>
			<div class="right">{{dialogContexts[selected+1].title}}</div>
		</div>
	</dialog-shelf>

	</dialog>
</body>
</html>
