body {
  margin: 0; }

.container {
  width: 10em;
  height: 10em;
  background-color: blue;
  display: inline-block;
  position: relative;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 5.5em; }
  .container:hover {
    background-color: rgba(0, 0, 255, 0.5); }

.ng-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.ng-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeoverlay 0.5s;
  -webkit-animation: fadeoverlay 0.5s; }

@-webkit-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@-moz-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@-o-keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
@keyframes fadeoverlay {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.5); } }
.ng-modal-close {
  border-radius: 100px;
  position: relative;
  left: 98%;
  top: -10px;
  width: 25px;
  height: 25px;
  background-color: blue;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .ng-modal-close:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: red;
    transition-timing-function: linear; }
  .ng-modal-close:hover .forward-slash, .ng-modal-close:hover .backward-slash {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .ng-modal-close:hover .backward-slash {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.ng-modal-dialog {
  position: absolute;
  margin-top: 20%;
  padding: 5px;
  width: 45%;
  height: 10em;
  left: 28%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000; }

.title {
  text-align: center; }

.dialog {
  text-align: center; }

.carosel {
  height: 20em;
  width: 45%;
  left: 25%;
  position: absolute;
  perspective: 10px;
  -webkit-perspective: 500px; }

.middle, .left, .right {
  position: absolute;
  top: 50px;
  left: 25%;
  height: 40%;
  width: 60%;
  background-color: red;
  border: 5px solid black;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000; }

.left, .right {
  top: 60px;
  height: 35%;
  left: -100%;
  background-color: white;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000;
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  -ms-transform: rotateY(-30deg);
  -o-transform: rotateY(-30deg);
  transform: rotateY(-30deg); }

.right {
  left: 150%;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000;
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  transform: rotateY(30deg); }

.left-arrow {
  position: absolute;
  top: 70px;
  left: -20%;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 100px;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000; }
  .left-arrow:hover .left-arrow-middle, .left-arrow:hover .left-arrow-bottom, .left-arrow:hover .left-arrow-top {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black; }
  .left-arrow:hover .left-arrow-bottom, .left-arrow:hover .left-arrow-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .left-arrow:hover .left-arrow-top {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.left-arrow-middle, .left-arrow-bottom, .left-arrow-top {
  position: absolute;
  top: 50px;
  left: 10px;
  height: 10px;
  width: 75px;
  border-radius: 5px; }

.left-arrow-bottom, .left-arrow-top {
  top: 65px;
  left: 7px;
  width: 45px; }

.left-arrow-top {
  top: 35px; }

.right-arrow {
  position: relative;
  top: 70px;
  left: 95%;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 100px;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  box-shadow: 4px 4px 80px #000; }
  .right-arrow:hover .right-arrow-middle, .right-arrow:hover .right-arrow-bottom, .right-arrow:hover .right-arrow-top {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: black; }
  .right-arrow:hover .right-arrow-bottom, .right-arrow:hover .right-arrow-top {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .right-arrow:hover .right-arrow-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.right-arrow-middle, .right-arrow-bottom, .right-arrow-top {
  position: absolute;
  top: 50px;
  left: 15px;
  height: 10px;
  width: 75px;
  border-radius: 5px; }

.right-arrow-bottom, .right-arrow-top {
  top: 65px;
  left: 49px;
  width: 45px; }

.right-arrow-top {
  top: 35px; }

.forward-slash, .backward-slash {
  width: 2px;
  height: 20px;
  background-color: blue;
  position: absolute;
  top: 2px;
  left: 12px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/*# sourceMappingURL=style.css.map */
